<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template_admin}">

<body>

<div layout:fragment="contenido">
    <h2 class="fw-bold mb-4">Crear Sala</h2>

    <div class="card shadow">
        <div class="card-body">

            <form th:action="@{/salas/save}" th:object="${sala}" method="post" class="row g-3">

                <!-- NOMBRE -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Nombre</label>
                    <input type="text"
                           th:field="*{nombres}"
                           th:errorclass="is-invalid"
                           class="form-control"
                           placeholder="Ej: Sala de Reuniones A"
                           >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></div>
                </div>

                <!-- CAPACIDAD -->
                <!-- CAPACIDAD -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Capacidad</label>
                    <input type="number"
                           th:field="*{capacidad}"
                           th:errorclass="is-invalid"
                           min="1"
                           class="form-control"
                           placeholder="Ej: 10"
                           >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('capacidad')}" th:errors="*{capacidad}"></div>
                </div>

                <!-- ESTADO -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Estado</label>
                    <select th:field="*{estado}"
                            th:errorclass="is-invalid"
                            class="form-select">
                        <option value="">Seleccione estado...</option>
                        <option th:each="est : ${estados}"
                                th:value="${est}"
                                th:text="${est}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
                </div>

                <!-- BOTONES -->
                <div class="col-12 mt-3">
                    <button class="btn btn-success px-4">Guardar</button>
                    <a th:href="@{/salas}" class="btn btn-secondary ms-1">Volver</a>
                </div>

            </form>

        </div>
    </div>
</div>
</body>
</html>
